<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="../dashboard">Dashboard</a> <a href="../logout">Logout</a> <br>
    <p><strong>Name:</strong> @ViewBag.aUser.name </p>
    <p><strong>User:</strong> @ViewBag.aUser.alias </p>
    <p><strong>Email:</strong> @ViewBag.aUser.email</p>
    

    <hr>

    <p>Total Number of Posts: </p>
    @ViewBag.poop.createdpost.Count
    
    <p>Total Number of Likes:</p>
        @ViewBag.like
</body>
</html>